
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Project_Euler.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/problem1.cpython-38.pyc
__pycache__/problem2.cpython-38.pyc
__pycache__/results.cpython-38.pyc
